/* 2021-07-19 Replacing this code as instructed on 
https://developer.mozilla.org/en-US/docs/Learn/Server-side/Express_Nodejs/Displaying_data/LocalLibrary_base_template

body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
*/
.sidebar-nav {
    margin-top: 20px;
    padding: 0;
    list-style: none;
}